<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>React Optimised Performance</title>

        <link rel="stylesheet" href="dist/reset.css">
        <link rel="stylesheet" href="dist/reveal.css">
        <link rel="stylesheet" href="dist/theme/moon.css">

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href="plugin/highlight/monokai.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
            <!------------ Slide Start ------------------------->
                <section>
                    <h2>React Optimised Performance</h2>
                    <h3>A presentation on things I've learned to improve React apps</h3>
                </section>
                <!------------ Slide End ------------------------->

                <!------------ Slide Start ------------------------->
                <section>
                    <h3>Remember!</h3>
                    <ul class="remember">
                        <li class="fragment" v-for="n in notes">{{ n }}</li>
                    </ul>
                </section>
                <!------------ Slide End ------------------------->

                <!------------ Slide Start ------------------------->
                <section>
                    <h3>Contents:</h3>
                    <ol class="toc">
                        <li class="fragment" v-for="n in content">{{ n }}</li>
                    </ol>
                </section>
                <!------------ Slide End ------------------------->

                <!------------ Slide Start ------------------------->
                <section class="phases">
                    <h3>React Render Phases</h3>
                    <section v-for="phase in phases" data-transition="none">
                        <img v-if="phase.drawing" v-bind:src="phase.drawing"/>
                        <p style="font-size:0.8em">{{ phase.text }}</p>
                        <table style="font-size:0.4em">
                            <tr>
                                <td>
                                    <p>Virtual DOM</p>
                                    <img v-if="phase.vdom" v-bind:src="phase.vdom" width="150px" height="150px"/>
                                </td>
                                <td>{{" "}}</td>
                                <td>{{" "}}</td>
                                <td>{{" "}}</td>
                                <td>{{" "}}</td>
                                <td>{{" "}}</td>
                                <td>
                                    <p>Actual DOM</p>
                                    <img v-if="phase.dom" v-bind:src="phase.dom" width="150px" height="150px"/>
                                </td>
                            </tr>
                        </table>
                    </section>
                </section>
                <!------------ Slide End ------------------------->

                <!------------ Slide Start ------------------------->
                <section class="structure">
                    <h4>Code structure - our plan A to improve performance</h4>
                    <section v-for="s in structures">
                        <p style="font-size:0.5em">{{s.text}}</p>
                        <pre style="font-size:0.35em" class="prettyprint language-javascript">
                            <template v-for="(code, i) in s.codes">
                                <code :class="{fragment: i !== 0}" data-trim :data-line-numbers=code.lineNumbers>{{ code.src }}</code>
                            </template>
                        </pre>
                        <a :href=s.codeSandBoxLink>See code</a>
                    </section>
                </section>
                <!------------ Slide End ------------------------->

                <!------------ Slide Start ------------------------->
                <section class="usecallback">
                    <h2 style="text-transform: none;">useCallback</h2>
                    <ul style="font-size:0.8em">
                        <li class="fragment" v-for="e in what">{{e}}</li>
                    </ul>
                </section>
                <!------------ Slide End ------------------------->

                <!------------ Slide Start ------------------------->
                <section class="memohoc">
                    <h3 style="text-transform: none;">React.memo</h3>
                    <section>
                        <ul style="font-size:0.8em">
                            <li class="fragment" v-for="e in what">{{e}}</li>
                        </ul>
                    </section>
                    <section>
                        <p style="font-size:0.5em">{{basicMemo.description}}</p>
                        <pre style="font-size:0.30em" class="prettyprint language-javascript">
                            <template v-for="(code, i) in basicMemo.codes">
                                <code :class="{fragment: i !== 0}" data-trim :data-line-numbers=code.lineNumbers>{{ code.src }}</code>
                            </template>
                        </pre>
                        <a :href=basicMemo.sandboxlink>See code</a>
                    </section>
                    <section>
                        <p style="font-size:0.5em">{{customMemoCompare.text}}</p>
                        <pre style="font-size:0.35em" class="prettyprint language-javascript">
                            <template v-for="(code, i) in customMemoCompare.codes">
                                <code :class="{fragment: i !== 0}" data-trim :data-line-numbers=code.lineNumbers>{{ code.src }}</code>
                            </template>
                        </pre>
                        <a :href=customMemoCompare.codeSandBoxLink>See code</a>
                    </section>
                </section>
                <!------------ Slide End ------------------------->

                <!------------ Slide Start ------------------------->
                <section>
                    <h2>Thank You!</h2>
                    <h3>References</h3>
                    <ul class="references" style="font-size:0.8em">
                        <li v-for="e in references"><a :href=e.link>{{e.text}}</a><br/></li>
                    </ul>
                </section>
                <!------------ Slide End ------------------------->
            </div>
            <!----------------------- Slides ------------------>
        </div>
        <!----------------------- Reveal ------------------>

        <script src="dist/reveal.js"></script>
        <script src="plugin/notes/notes.js"></script>
        <script src="plugin/markdown/markdown.js"></script>
        <script src="plugin/highlight/highlight.js"></script>
        <script>
            // More info about initialization & config:
            // - https://revealjs.com/initialization/
            // - https://revealjs.com/config/
            Reveal.initialize({
                hash: true,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ],
                dependencies: [
                              { src: 'https://cdn.jsdelivr.net/npm/vue/dist/vue.js' },
                              { src: 'js/slide_contents/commonUtils.js' },
                              { src: 'js/slide_contents/toc.js' },
                              { src: 'js/slide_contents/remember.js' },
                              { src: 'js/slide_contents/phases.js' },
                              { src: 'js/slide_contents/structure.js' },
                              { src: 'js/slide_contents/references.js' },
                              { src: 'js/slide_contents/useCallback.js' },
                              { src: 'js/slide_contents/memohoc.js' },
                              ],
            });
        </script>
    </body>
</html>
