<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title></title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/league.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
            <div class="slides">
			<!------------ Slide Start ------------------------->
				<section data-background-image="img/cover.png">
					<h1>Modern C++ STL Presentation</h1>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section data-background-image="img/background.png">
					<h3>Contents:</h3>
					<ol class="coverage">
						<li class="fragment" v-for="cv in topcoverage">
							{{ cv }}
							<span v-if=cv.includes('Lambda')>
								<ul>
									<li class="fragment" v-for="lc in lambdacoverage">{{ lc }}</li>
								</ul>
							</span>
						</li>
						</ul>
					</ol>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section data-background-image="img/background.png">
					<section>
						<div>
							<h3>Why use STL?</h3>
						</div>

						<div>
							<ul class="whyUseStl">
								<li class="fragment" v-for="why in whys">{{ why }}</li>
							</ul>
						</div>
					</section>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section class="choosingcontainer" data-background-image="img/background.png">
					<section v-for="container in containers">
						<h3>STL Containers</h3>
						<div class="row">
							<div class="column">
								<a v-bind:href="baseurl + container.name">
									{{ container.name.charAt(0).toUpperCase() + container.name.slice(1).replace("_", " ") }}</a>
							</div>
							<div class="column">
								<ul>
									<li class="fragment" style="font-size:30px"
										v-for="description in container.descriptions">{{ description }}</li>
								</ul>
							</div>
						</div>
					</section>
					<section v-for="scenepick in pickingcontainer.scenarios_and_picks">
							<h3>{{ pickingcontainer.title }}</h3>
							<div class="row">
									<div class="column">
										<h4>Scene</h4>
										{{ scenepick.Scene }}
									</div>
									<div class="column">
										<h4>Pick</h4>
										{{ scenepick.Pick }}
									</div>
							</div>

					</section>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section class="algosample" data-background-image="img/background.png">
					<section v-for="entry in entries">
						<h2>{{entry.heading}}</h2>
						<div>{{entry.subheading}}</div>
						<pre class="fragment prettyprint lang-cpp" v-for="code in entry.code">
								<code class="cpp" data-trim data-line-numbers>{{ code }}</code>
						</pre>
					</section>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section data-background-image="img/background.png">
					<h2>Discovering Lambdas</h2>
					<blockquote cite="http://www.stroustrup.com/C++11FAQ.html#lambda">
						&ldquo;A lambda expression is a mechanism for specifying a function object. The primary use for a
						lambda is to specify a simple action to be performed by some function.&rdquo; - Bjarne Stroustrup
					</blockquote>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section class="lambdasyntax" data-background-image="img/background.png">
					<section v-for="codesample in codesamples">
						<h2>Syntax of Lambdas</h2>
						<pre><code class="cpp" data-trim data-line-numbers>{{ codesample }}</code></pre>
					</section>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section class="capturerules" data-background-image="img/background.png">
					<section v-for="sl in splitted">
						<h2>Captures</h2>
						<h5 class="fragment" v-for="cx in sl">
							<div class="row">
								<div class="column">
									<pre><code class="cpp" data-trim>{{ cx.column1 }}</code></pre>
								</div>
								<div class="column">{{ cx.column2 }}</div>
							</div>
						</h5>
					</section>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section class="mutablelambdas" data-background-image="img/background.png">
					<section v-for="note in mutablenotes">
					<h3>Mutable</h3>
						{{note.statement}}
						<div class="fragment" v-for="code in note.codes">
							<pre><code class="cpp" data-trim data-line-numbers>{{ code }}</code></pre>
						</div>
					</section>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section class="lambdaGotchas" data-background-image="img/background.png">
					<section v-for="gotcha in gotchas">
						<h2>Gotchas</h2>
						{{gotcha.statement}}
						<div class="fragment" v-for="code in gotcha.codes">
							<pre><code class="cpp" data-trim data-line-numbers>{{ code }}</code></pre>
						</div>
					</section>
				</section>
				<!------------ Slide End ------------------------->

				<!------------ Slide Start ------------------------->
				<section class="iteratorDescriptions" data-background-image="img/background.png">
					<h2>Iterators</h2>
					<div>
						<ul>
						<li class="fragment" v-for="description in descriptions">{{ description }}</li>
						</ul>
					</div>
				</section>
				<!------------ Slide End ------------------------->
				<!------------ Slide Start ------------------------->
				<section class="iteratorFunctions" data-background-image="img/background.png">
					<section v-for="func in funcs">
						<h3>Iterator Functions - {{func.name}}</h3>
						<div>
							<ul>
								<li class="fragment" v-for="description in func.descriptions">{{ description }}</li>
							</ul>
						</div>
						<img v-if="func.drawing" class="fragment" v-bind:src="func.drawing">
						<h6 v-if="func.note" class="fragment">{{func.note}}</h6>
						<pre class="fragment" v-if="func.sample"><code class="cpp" data-trim data-line-numbers>{{ func.sample }}</code></pre>
					</section>

				</section>
				<!------------ Slide End ------------------------->
				<!------------ Slide Start ------------------------->
				<section class="refactoringExamples" data-background-image="img/background.png">
					<h4>Code Examples</h4>
					<section v-for="sl in splitted">
						<h5 v-for="cx in sl">
							{{ cx.description }}
							<div>
								<div>
									<div>{{cx.before_label}}</div>
									<pre><code class="cpp prettyprint lang-cpp" data-trim data-line-numbers>{{ cx.before }}</code></pre>
									<img v-if="cx.before_drawing" class="fragment" v-bind:src="cx.before_drawing">
								</div>
								<div class="fragment" v-if="cx.after_label">
									<div>{{cx.after_label}}</div>
									<img v-if="cx.after_drawing" class="fragment" v-bind:src="cx.after_drawing">
									<pre><code class="cpp prettyprint lang-cpp" data-trim data-line-numbers>{{ cx.after }}</code></pre>
								</div>
							</div>
						</h5>
					</section>
				</section>
				<!------------ Slide End ------------------------->
				<!------------ Slide Start ------------------------->
				<section data-background-image="img/background.png">
					<h2>Thank You!</h2>
					<h3>Questions?</h3>
					<a href="https://twitter.com/intent/tweet?screen_name=dean_agan&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-related="dean_agan" data-show-count="false">Tweet to @dean_agan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<h3>References</h3>
					<a href="https://en.cppreference.com">cppreference.com</a></br>
					<a href="https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines">C++ Core guidelines</a></br>
					<a href="https://www.stroustrup.com/">Bjarne Stroustrup's Website</a></br>
					<a href="https://herbsutter.com/">Herb Sutter's Website</a></br>
				</section>
				<!------------ Slide End ------------------------->
            </div>
			<!----------------------- Slides ------------------>
		</div>
		<!----------------------- Reveal ------------------>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
        <script src="plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ],
				dependencies: [
							  { src: 'https://cdn.jsdelivr.net/npm/vue/dist/vue.js' },
							  { src: 'js/slide_contents/commonUtils.js' },
							  { src: 'js/slide_contents/whyStl.js' },
							  { src: 'js/slide_contents/toc.js' },
							  { src: 'js/slide_contents/choosingContainer.js' },
							  { src: 'js/slide_contents/sampleAlgorithm.js' },
							  { src: 'js/slide_contents/lambdas.js' },
							  { src: 'js/slide_contents/lambdaCaptures.js' },
							  { src: 'js/slide_contents/mutableLambdas.js' },
							  { src: 'js/slide_contents/lambdaGotchas.js' },
							  { src: 'js/slide_contents/iterators.js' },
							  { src: 'js/slide_contents/iteratorFunctions.js' },
							  { src: 'js/slide_contents/codeExamples.js' }
							  ],
			});
		</script>
	</body>
</html>
